<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">GESTIÓN DE USUARIOS</div>

                    <div class="card-body">
                         <div class="row text-right">
                            <button class='btn btn-primary' onclick="">
                                <i class='fa fa-plus' aria-hidden='true' title='Nuevo Estudiante'></i> Nuevo Estudiante
                            </button>
                        </div>
                        <br>
                        <div class="row">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Cédula</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
